* {
  margin: 0;
  padding: 0;
}
.htext{
    font-size: 800px;
    color:chocolate;
}
.sumi{
    font-size: 600px;
    color: darkturquoise;
}

.uzzol {
  padding-right: 50px;
}
.image {
  display: flex;

}
.logo-discription {
  text-align: justify;
}
.price {
  font-size: 40px;
  color: coral;
}
.buttone{
    float: right;
    padding-left: 90px;
}
.clothe-price{
    align-items: center;
}
